div.plot {
  width: 100%;
  height: calc(100% - 1.5em);
}

div.plot-container {
  width: 100%;
  height: 100%;
}

div.plot-legend {
  font-size: 0.8rem;
}

i.green {
  color:green;
}

i.red {
  color:red;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ffc107;
  border-color: #ffc107 transparent #ffc107 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
