<page-layout>

<span v-if="$i18n.locale == 'de'">
    <h1>Impressum</h1>
    <h2>Herausgeber</h2>
    <p>Die unter der URL pollenscience.eu angezeigten Daten und Inhalte werden herausgegeben vom Zentrum für Allergie
        und Umwelt (ZAUM), Institut des Helmholtz-Zentrums München, ordentliches Mitglied der medizinischen Fakultät der
        Technischen Universität München, mit Sitz in der Biedersteiner Straße 29 in 80802 München.</p>
    <h2>Vertreter</h2>
    <p>Leitung des ZAUM: Prof. Dr. rer. nat. Carsten B. Schmidt-Weber, Lehrstuhl für Molekulare Allergologie (Klinikum
        rechts der Isar), Direktor des Instituts für Allergieforschung (IAF; Helmholtz Zentrum München), Leiter der
        Münchner Allergieforschungszentren (MARC).</p>
    <h2>Redaktionelle Verantwortung</h2>
    <p>Prof. Dr. rer. pharm. Jeroen Buters, Leiter der ZAUM-Gruppe Umwelt, Telefon +49 89 4140-3487, E-Mail
        buters@tum.de</p>
    <h2>Serverbetrieb</h2>
    <p>Leibniz-Rechenzentrum der der Bayerischen Akademie der Wissenschaften.</p>
    <h1>Haftungsausschluss</h1>
    <h2>Inhalt</h2>
    <p>Das ZAUM behält sich das Recht vor, nicht für die Aktualität, Richtigkeit, Vollständigkeit oder Qualität der
        bereitgestellten Informationen verantwortlich zu sein. Haftungsansprüche in Bezug auf Schäden, die durch die
        Verwendung der bereitgestellten Informationen verursacht wurden, einschließlich unvollständiger oder falscher
        Informationen jeglicher Art, werden daher abgelehnt.</p>
    <p>Teile der Seiten oder die vollständige Veröffentlichung einschließlich aller Angebote und Informationen können
        vom ZAUM ohne gesonderte Ankündigung erweitert, geändert oder teilweise oder vollständig gelöscht werden.</p>
    <h2>Verweise und Links</h2>
    <p>Das ZAUM ist nicht verantwortlich für Inhalte, auf die auf den Seiten der URL pollenscience.eu verwiesen wird -
        es sei denn, ZAUM verfügt über umfassende Kenntnisse illegaler Inhalte und kann die Besucher der URL
        pollenscience.eu daran hindern, diese anzuzeigen. Wenn durch die Verwendung solcher verlinkter Seiten Schäden
        entstehen, haftet möglicherweise nur der Autor der jeweiligen Seite, keinesfalls jedoch das ZAUM.</p>
    <h2>Urheberrecht</h2>
    <p>Die Eigentümer der auf den Seiten der URL pollenscience.eu bereitgestellten Daten sind die jeweiligen Betreiber
        der betreffenden Messstationen, siehe dazu die An-gaben in den Erläuterungen zu Pollen Science. Die kommerzielle
        Nutzung der unter der URL pollenscience.eu bereitgestellten Daten ist untersagt. Ausdrücklich gestattet ist
        dagegen die Verwendung dieser Daten in Forschung und Lehre, sofern dabei als Quelle der Daten Pollen Science
        bzw. die URL pollenscience.eu und das Datum des Zugriffs auf die Daten genannt wird.</p>
</span>

<span v-if="$i18n.locale == 'fr'">
    <h1>Impressum</h1>
    <h2>Éditeur</h2>
    <p>Les données et contenus affichés sous l'URL pollenscience.eu sont publiés par le Centre pour les allergies et l'environnement (ZAUM), institut du Centre Helmholtz de Munich, membre ordinaire de la Faculté de médecine de l'Université technique de Munich, dont le siège est situé Biedersteiner Straße 29 à 80802 Munich.</p>
    <h2>Représentant</h2>
    <p>Direction du ZAUM : Prof. Dr. rer. nat. Carsten B. Schmidt-Weber, président d'allergologie moléculaire (Klinikum rechts der Isar), directeur de l'Institut de recherche sur les allergies (IAF ; Helmholtz Zentrum München), directeur des centres de recherche sur les allergies de Munich (MARC).</p>
    <h2>Responsabilité éditoriale</h2>
    <p>Prof. Dr. rer. pharm. Jeroen Buters, directeur du groupe Environnement de ZAUM, téléphone +49 89 4140-3487, e-mail buters@tum.de</p>
    <h2>Exploitation du serveur</h2>
    <p>Leibniz-Rechenzentrum der Bayerische Akademie der Wissenschaften (Centre de calcul Leibniz de l'Académie bavaroise des sciences).</p>
    <h1>Clause de non-responsabilité</h1>
    <h2>Contenu</h2>
    <p>ZAUM se réserve le droit de ne pas être responsable de l'actualité, de l'exactitude, de l'exhaustivité ou de la qualité des informations mises à disposition. Toute demande de responsabilité concernant des dommages causés par l'utilisation des informations mises à disposition, y compris des informations incomplètes ou erronées de quelque nature que ce soit, est donc rejetée.</p>
    <p>Des parties des pages ou la publication complète, y compris toutes les offres et informations, peuvent être étendues, modifiées ou partiellement ou totalement supprimées par ZAUM sans avis préalable.</p>
    <h2>Références et liens</h2>
    <p>ZAUM n'est pas responsable des contenus auxquels il est fait référence sur les pages de l'URL pollenscience.eu - à moins que ZAUM ne dispose d'une connaissance approfondie des contenus illégaux et ne puisse empêcher les visiteurs de l'URL pollenscience.eu de les visualiser. Si l'utilisation de telles pages liées entraîne des dommages, seul l'auteur de la page en question peut être tenu pour responsable, mais en aucun cas ZAUM.</p>
    <h2>Droit d'auteur</h2>
    <p>Les propriétaires des données mises à disposition sur les pages de l'URL pollenscience.eu sont les exploitants respectifs des stations de mesure concernées, voir à ce sujet les indications dans les explications relatives à Pollen Science. L'utilisation commerciale des données mises à disposition sur le site pollenscience.eu est interdite. En revanche, l'utilisation de ces données dans la recherche et l'enseignement est expressément autorisée, à condition que la source des données soit Pollen Science ou l'URL pollenscience.eu et que la date d'accès aux données soit mentionnée.</p>
</span>

<span v-if="$i18n.locale == 'en'">
    <h1>Impressum</h1>
    <h2>Publisher</h2>
    <p>The data and content displayed under the URL pollenscience.eu are published by the Center for Allergy and Environment (ZAUM), Institute of the Helmholtz Zentrum München, full member of the Medical Faculty of the Technical University of Munich, located at Biedersteiner Straße 29, 80802 Munich, Germany.</p>
    <h2>Representative</h2>
    <p>Head of ZAUM: Prof. Dr. rer. nat. Carsten B. Schmidt-Weber, Chair of Molecular Allergology (Klinikum rechts der Isar), Director of the Institute of Allergy Research (IAF; Helmholtz Zentrum München), Head of the Munich Allergy Research Centers (MARC).</p>
    <h2>Editorial responsibility</h2>
    <p>Prof. Dr. rer. pharm. Jeroen Buters, Head of ZAUM Group Environment, phone +49 89 4140-3487, e-mail buters@tum.de.</p>
    <h2>Server operation</h2>
    <p>Leibniz Computing Center of the Bavarian Academy of Sciences and Humanities.</p>
    <h1>Disclaimer</h1>
    <h2>Content</h2>
    <p>ZAUM reserves the right not to be responsible for the topicality, correctness, completeness or quality of the information provided. Liability claims regarding damage caused by the use of any information provided, including any kind of information which is incomplete or incorrect,will therefore be rejected.</p>
    <p>Parts of the pages or the complete publication including all offers and information might be extended, changed or partly or completely deleted by ZAUM without separate announcement.</p>
    <h2>References and links</h2>
    <p>ZAUM is not responsible for any contents linked or referred to from the pages of the URL pollenscience.eu - unless ZAUM has full knowledge of illegal contents and would be able to prevent the visitors of the URL pollenscience.eu from viewing those pages. If any damage occurs by the use of information presented there, only the author of the respective pages might be liable, not ZAUM.</p>
    <h2>Copyright</h2>
    <p>The owners of the data provided on the pages of the URL pollenscience.eu are the respective operators of the measuring stations concerned, see the information in the explanations to Pollen Science. The commercial use of the data provided on the URL pollenscience.eu is prohibited. However, the use of these data in research and education is explicitly permitted, provided that Pollen Science or the URL pollenscience.eu and the date of access to the data are mentioned as the source of the data.</p>
</span>

<span v-if="$i18n.locale == 'nl'">
    <h1>Impressum</h1>
    <h2>Uitgever</h2>
    <p>De onder de URL pollenscience.eu weergegeven gegevens en inhoud worden gepubliceerd door het Centrum voor Allergie en Milieu (ZAUM), instituut van het Helmholtz-centrum München, volwaardig lid van de medische faculteit van de Technische Universiteit München, gevestigd aan de Biedersteiner Straße 29 in 80802 München.</p>
    <h2>Vertegenwoordiger</h2>
    <p>Hoofd van het ZAUM: Prof. Dr. Carsten B. Schmidt-Weber, Leerstoel Moleculaire Allergologie (Klinikum rechts der Isar), Directeur van het Instituut voor Allergie Onderzoek (IAF; Helmholtz Zentrum München), Hoofd van de Onderzoekscentra voor Allergie in München (MARC).</p>
    <h2>Redactionele verantwoordelijkheid</h2>
    <p>Prof. Dr. Jeroen Buters, hoofd Milieu van de ZAUM-groep, telefoon +49 89 4140-3487, e-mail buters@tum.de.</p>
    <h2>Werking van de server</h2>
    <p>Leibniz Rekencentrum van de Beierse Academie voor Wetenschappen en Geesteswetenschappen.</p>
    <h1>Disclaimers</h1>
    <h2>Inhoud</h2>
    <p>ZAUM behoudt zich het recht voor niet verantwoordelijk te zijn voor de actualiteit, juistheid, volledigheid of kwaliteit van de verstrekte informatie. Aansprakelijkheidsclaims betreffende schade veroorzaakt door het gebruik van verstrekte informatie, met inbegrip van informatie die onvolledig of onjuist is, zullen derhalve worden afgewezen.</p>
    <p>Delen van de pagina's of de volledige publicatie inclusief alle verwerkingen en informatie kunnen door ZAUM zonder afzonderlijke aankondiging worden uitgebreid, gewijzigd of geheel of gedeeltelijk verwijderd.</p>
    <h2>Referenties en links</h2>
    <p>ZAUM is niet verantwoordelijk voor enige inhoud waarnaar wordt gelinkt of verwezen vanaf de pagina's van de URL pollenscience.eu - tenzij ZAUM volledige kennis heeft van illegale inhoud en de bezoekers van de URL pollenscience.eu zou kunnen verhinderen die pagina's te bekijken. Als er schade ontstaat door het gebruik van de daar gepresenteerde informatie, is alleen de auteur van de betreffende pagina's aansprakelijk, niet ZAUM.</p>
    <h2>Copyright</h2>
    <p>De eigenaars van de gegevens op de pagina's van de URL pollenscience.eu zijn de respectieve exploitanten van de betrokken meetstations, zie de informatie in de toelichting bij Pollenscience. Commercieel gebruik van de onder de URL pollenscience.eu verstrekte gegevens is verboden. Het gebruik van deze gegevens in onderzoek en onderwijs is echter uitdrukkelijk toegestaan, mits Pollenscience of de URL pollenscience.eu en de datum van toegang tot de gegevens als bron worden vermeld.</p>
</span>

<span v-if="$i18n.locale == 'es'">
    <h1>Información</h1>
    <h2>Editorial</h2>
    <p>Los datos y contenidos expuestos bajo la URL pollenscience.eu son publicados por el Centro de Alergia y Medio Ambiente (ZAUM), Instituto del Centro Helmholtz de Múnich, miembro de pleno derecho de la Facultad de Medicina de la Universidad Técnica de Múnich, situado en la Biedersteiner Straße 29 en 80802 Múnich (Alemania).</p>
    <h2>Representante</h2>
    <p>Director del ZAUM: Prof. Dr. rer. nat. Carsten B. Schmidt-Weber, Catedrático de Alergología Molecular (Klinikum rechts der Isar), Director del Instituto de Investigación sobre Alergia (IAF; Helmholtz Zentrum München), Director de los Centros de Investigación sobre Alergia de Múnich (MARC).</p>
    <h2>Responsabilidad editorial</h2>
    <p>Prof. Dr. rer. pharm. Jeroen Buters, Director de Medio Ambiente del Grupo ZAUM, teléfono +49 89 4140-3487, correo electrónico buters@tum.de.</p>
    <h2>Funcionamiento del servidor</h2>
    <p>Centro de Computación Leibniz de la Academia Bávara de Ciencias y Humanidades.</p>
    <h1>Descargo de responsabilidad</h1>
    <h2>Contenido</h2>
    <p>ZAUM se reserva el derecho a no ser responsable de la actualidad, corrección, integridad o calidad de la información proporcionada. Por lo tanto, se rechazarán las reclamaciones de responsabilidad relativas a los daños causados por el uso de cualquier información proporcionada, incluyendo cualquier tipo de información que sea incompleta o incorrecta.</p>
    <p>ZAUM podrá ampliar, modificar o suprimir parcial o totalmente partes de las páginas o la publicación completa sin necesidad de comunicarlo por separado.</p>
    <h2>Referencias y enlaces</h2>
    <p>ZAUM no se hace responsable de los contenidos enlazados o referidos desde las páginas de la URL pollenscience.eu - a menos que ZAUM tenga pleno conocimiento de los contenidos ilegales y pueda evitar que los visitantes de la URL pollenscience.eu vean esas páginas. Si se produce algún daño por el uso de la información allí presentada, sólo el autor de las respectivas páginas podría ser responsable, no ZAUM.</p>
    <h2>Copyright</h2>
    <p>Los propietarios de los datos proporcionados en las páginas de la URL pollenscience.eu son los respectivos operadores de las estaciones de medición en cuestión, véase la información en las explicaciones sobre Pollen Science. Se prohíbe el uso comercial de los datos proporcionados bajo la URL pollenscience.eu. Sin embargo, se permite explícitamente el uso de estos datos en la investigación y la enseñanza, siempre que se mencione como fuente de los datos a Pollen Science o la URL pollenscience.eu y la fecha de acceso a los datos.</p>
</span>

</page-layout>